<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Form</title>

{{!-- <link rel="stylesheet" href="/signup.css"> --}}
{{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
<style>
  body {
    
    font-family: Arial, sans-serif;
   
    background-image:url(/assets/img/image.jpg);
background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff transparent;
   
    border-radius: 10px;
    box-shadow: 0px 5px 8px 10px rgb(95, 92, 92);
  height: 430px;
  width:100%;
  padding: 30px;
}

form:hover{
  box-shadow: 0px 10px 8px 8px rgb(189, 180, 180);
      
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 5px 4px black;
  
}
input:hover{

     box-shadow: 0px 5px 10px rgb(52, 47, 47); 
}

input[type="submit"] {
    width: 100%;
   background-color:green;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgb(74, 70, 70);
}

input[type="submit"]:hover {
    background-color:rgb(42, 146, 42);
}

.container {
    max-width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
    color:red;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(248, 5, 5);


}

</style>
</head>
<body>

<div class="container">
    <form action="/signup" method="post">
        <h2>Registration Form</h2>
        <input type="text" name="name" placeholder="Username" required autocomplete="off">
        <input type="email"  name="email" placeholder="Email" required autocomplete="off">
        <input type="password"name="password" placeholder="Password" required autocomplete="off">
        <input type="text" name ="number" placeholder="Mob no." required autocomplete="off"   >    
         <input type="text" name ="gender" placeholder="Gender." required autocomplete="off"   >   
       <input type="submit" class="sub">
<a href="/login">👉Already Registered</a>
    </form>
    
</div>

</body>
</html>
